<header>
    <nav>
        <div class="nav-top">
            <div class="logo">
                <h2 class="Logo">WorkJamy</h2>
            </div>
            <img class="icon-menu" src="/img/menu-bar.png" alt="Menu Mobile access icon">
            <div class="staff-info">
                <% if (employee) { %>
                <form class="employee-info-form" action="/employeeInfo" method="get">
                    <h2 class="staff-info-name"><%= employee.employeeFirstName %></h2>
                    <h2 class="staff-info-id"><%= employee.employeeId %></h2>
                </form>
                <% } else { %>
                    <form class="employee-info-form" action="/employeeInfo" method="get">
                        <h2 class="staff-info-name">Login for access</h2>
                        <h2 class="staff-info-id"></h2>
                    </form>
                <% } %>
            </div>
        </div>
        <div class="nav-bottom">
            <div class="nav-items show">
                <ul class="items">
                    <li class="item"><a href="/">Home</a></li>
                    <li class="item"><a href="/punch">Punch</a></li>
                    <li class="item"><a href="/punch_log">History Punch</a></li>
                    <li class="item"><a href="/post">Post</a></li>
                    <li class="item"><a href="/login"><%= loginStatus%></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <% if (typeof alert !== 'undefined' && message) { %>
        <script>
            alert("<%= message %>");
        </script>
    <% } %>
</header>