<header>
    <nav>
        <div class="nav-top">
            <div class="logo">
                <h2 class="Logo">WorkJamy</h2>
            </div>
            <div class="staff-info">
                <h2 class="staff-info-name">Priscila Ferreira Bezerra</h2>
                <h2 class="staff-info-id">100001</h2>
            </div>
            <img class="icon-menu" src="/img/menu-bar.png" alt="Menu Mobile access icon">
        </div>
        <div class="nav-bottom">
            <div class="nav-items">
                <ul class="items">
                    <li class="item">Home</li>
                    <li class="item">Punch</li>
                    <li class="item">History Punch</li>
                    <li class="item">Post</li>
                    <li class="item">Login</li>
                </ul>
            </div>
        </div>
    </nav>
</header>