:root {
  --black: #000;
  --blue-light: #5a9bc6; /*info staff*/
  --blue-dark: #242a51; /*navbar bottom*/
  --blue-purple: #5143be;
  --blue-purple-box: #0e0b21;
  --blue-purple-Dark: #141035;  /*navbar top background*/
  --orange: #f79748; /*Logo*/
  --purple: #7443be; /*body background*/
  --purple-plain: #3f1f4c; /*body background*/
  --purple-dark: #6428be;
  --yellow: #edda0d; /*navbar words*/
  --yellow-dark: #a39908;
  --white: #fff; 
}
