:root {
  --black: #000;
  --blue: #2813c7;
  --blue-purple: #5143be; /*navbar background*/
  --orange: #f79748;
  --purple: #7443be; /*body background*/
  --purple-plain: #3f1f4c; /*body background*/
  --purple-dark: #6428be;
  --yellow: #edda0d; /*navbar words*/
  --yellow-dark: #a39908;
  --white: #fff; 
}
