*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--purple-plain)!important;
    font-family: var(--font-text);
    font-weight: var(--font-weight-text);
}
.nav-top{
    background-color: var(--blue-purple-Dark);
}
.nav-botton{
    background-color: var(--blue-dark);
}