<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>ChangePassword</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="container">
            <h1 class="header-page">Change Password</h1>

            <form method="post" action="/change-password" class="changPassword">
                <input type="number" name="username" class="userIdPassword" id="userIdPassword" placeholder="Insert your User ID Number">
                <input type="password" name="old_password" class="oldPassword" id="oldPassword" placeholder="Insert your Old Password">
                <input type="password" name="new_password" class="newPassword" id="newPassword" placeholder="Insert your New Password">
                <div class="btns-login">
                    <input type="button" class="btn-login btns" id="btn-password-cancel" value="Cancel">
                    <input type="submit" class="btn-login btns" id="btn-password-submit">
                </div>
            </form>
        </main>

        <%- include('../partials/footer') %>
</body>

</html>