<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Portal</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="container">
            <h1 class="header-page">Portal</h1>

            <div class="carousel">
                <div class="carousel-item active">
                    <a class="carousel_links" href="/punch_log">
                        <h3 class="carousel-text">Timecard</h3>
                        <img class="slide-img" src="/img/books.jpg" alt="timecard img">
                    </a>
                </div>
                <div class="carousel-item">
                    <a class="carousel_links" href="/punch">
                        <h3 class="carousel-text">Punch In</h3>
                        <img class="slide-img" src="/img/clocks.jpg" alt="Punch In img">
                    </a>
                </div>
                <!-- <div class="carousel-item">
                <h3 class="carousel-text"></h3>
                <img class="slide-img" src="/img/map.jpg" alt="">
            </div> -->
                <div class="carousel-item">
                    
                        <h3 class="carousel-text">Posts</h3>
                        <img class="slide-img" src="/img/records.jpg" alt="Post img">
                    
                </div>
                <div class="carousel-btn prev-btn">
                    < </div>
                        <div class="carousel-btn next-btn"> > </div>
                </div>

                <div class="phrase">
                    <p id="phrase-day" class="phrase-day">We cannot solve problems with the kind of thinking we employed
                        when we came up with them.</p>
                    <p id="author" class="author">Albert Einstein</p>
                </div>
        </main>


        <%- include('../partials/footer') %>

</body>

</html>