<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Portal</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <h1>Portal</h1>
    </main>
    

    <%- include('../partials/footer') %>
    <script type="text/javascript" src="../js/nav_menu.js"></script>
</body>

</html>