<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Portal</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main class="container">
        <h1>Portal</h1>
        
        <div class="carousel">
            <div class="carousel-item">
                <p class="carousel-text">History Punch</p>
                <img class="slide-img" src="/img/books.jpg" alt="">
            </div>
            <div class="carousel-item">
                <p class="carousel-text">Punch In</p>
                <img class="slide-img" src="/img/clocks.jpg" alt="">
            </div>
            <!-- <div class="carousel-item">
                <p class="carousel-text"></p>
                <img class="slide-img" src="/img/map.jpg" alt="">
            </div> -->
            <div class="carousel-item">
                <p class="carousel-text">Posts</p>
                <img class="slide-img" src="/img/records.jpg" alt="">
            </div>
        </div>

        <div class="phrase">
            <p class="phrase-day"></p>
        </div>
    </main>
    

    <%- include('../partials/footer') %>
    
</body>

</html>