<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Portal</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main class="container">
        <h1 class="header-page">Portal</h1>
        
        <div class="carousel">
            <div class="carousel-item active">
                <h3 class="carousel-text">Timecard</h3>
                <img class="slide-img" src="/img/books.jpg" alt="">
            </div>
            <div class="carousel-item">
                <h3 class="carousel-text">Punch In</h3>
                <img class="slide-img" src="/img/clocks.jpg" alt="">
            </div>
            <!-- <div class="carousel-item">
                <h3 class="carousel-text"></h3>
                <img class="slide-img" src="/img/map.jpg" alt="">
            </div> -->
            <div class="carousel-item">
                <h3 class="carousel-text">Posts</h3>
                <img class="slide-img" src="/img/records.jpg" alt="">
            </div>
            <div class="carousel-btn prev-btn"><</div>
            <div class="carousel-btn next-btn">></div>
        </div>

        <div class="phrase">
            <p class="phrase-day">
                
            </p>
        </div>
    </main>
    

    <%- include('../partials/footer') %>
    
</body>

</html>