<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>Login</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main class="container">
            <h1>Welcome</h1>
            <form action="" class="login" id="login">
                <input type="number" name="userIdLogin" class="userIdLogin" id="userIdLogin" placeholder="insert your User ID Number">
                <input type="password" class="passwordLogin" class="passwordLogin" id="passwordLogin" placeholder="insert your Password">
                <div class="btns-login">
                    <input type="submit" class="btn-login btns" id="btn-login">
                    <input type="button" class="btn-login btns" id="btn-login-cancel" value="Cancel">
                </div>
            </form>
        </main>

        <!-- FOOTER -->
        <%- include('../partials/footer') %>
</body>

</html>