<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Login</title>
</head>
<body>
    <%- include('../partials/header') %>
    
    <h1>Welcome</h1>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>