<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Punch</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="container">
        <h1>Punch Hours</h1>
        <div class="clock_in punch_clock">
            <img class="clock_icon" src="/img/clock.svg" alt="image clock in">
            <button class="clock_btn">Clock In</button>
        </div>
        <div class="break_start punch_clock">
            <img class="clock_icon" src="/img/break.svg" alt="image break start">
            <button class="clock_btn">Break Start</button>
        </div>
        <div class="break_end punch_clock">
            <img class="clock_icon" src="/img/break.svg" alt="image break ends">
            <button class="clock_btn">Break End</button>
        </div>
        <div class="clock_out punch_clock">
            <img class="clock_icon" src="/img/clock.svg" alt="image clock ou">
            <button class="clock_btn">Clock Out</button>
        </div>
    </main>



    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>