<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>History Log</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main class="container">
            <h1>History Log</h1>
            <div class="log" id="punchLogContainer"></div>
            <hr>
            <div id="pagination" class="pagination-container"></div>
        </main>
        <!-- FOOTER -->
        <%- include('../partials/footer') %>
</body>

</html>