<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <title>History Log</title>
</head>

<body>
    <%- include('../partials/header') %>
        <main class="container">
            <h1>History Log</h1>
            
            <div class="log" id="punchLogContainer">
            </div>
            
            <div class="total-week">
                <p class="total-week-hour" id="l-total-week">Total week: 7:00</p>
            </div>
        </main>


        <!-- FOOTER -->
        <%- include('../partials/footer') %>
</body>

</html>